<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<title>EJS Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body { padding:50px; }
</style>
</head>
<body>
    <div>
Why are you here? <br>
    <a href="/voter/maps"> Voter Maps System for searching for voters</a> <br>
    ^^^^ You most likely will want to click this. ^^^^^
    <br>
    <img src="images/help-2020v1.png" />
    <hr>
    <a href="/precincts"> Precincts  </a>
    <br>
    <a href="/wards"> Wards  </a>
    <br>
    <a href="/getprecinctByScore/WARREN%20CITY%205K/37"> Get Precinct Data by Score  </a>
    /getprecinctByScore/WARREN%20CITY%205K/37
    change the ward string & number for query values 
    <br>
</div>
</body>
</html>